<script>
import { Form, Field, ErrorMessage } from 'vee-validate'
import Button from '@/components/Button.vue'
import Repository from '@/repositories/Repository.class'
import CyclesAvailables from '@/components/CyclesAvailables.vue'
import StudentCyclesSelected from '@/components/StudentCyclesSelected.vue'
import { useCyclesStore } from '@/stores/cycles'
import { mapState } from 'pinia'
import { CAlert } from '@coreui/vue'

import * as yup from 'yup'
import { setLocale } from 'yup'

setLocale({
    mixed: {
        default: 'Campo no válido',
        required: 'El campo ${path} no puede estar vacío'
    },
    string: {
        matches:
            'El campo ${path} ha de contener unicamente letras de la "A" la "Z" y vocales con tilde',
        url: 'El campo ${path} ha de contener una url válida'
    }
})

export default {
    components: {
        Form,
        Field,
        ErrorMessage,
        Button,
        CiclesAvailables: CyclesAvailables,
        StudentCyclesSelected,
        CAlert
    },
    props: ['studentId'],
    computed: {
        ...mapState(useCyclesStore, ['items'])
    },
    mounted() {
        this.loadUser()
        this.loadCycles()
    },
    data() {
        const mySchema = yup.object().shape({
            nombre: yup
                .string()
                .matches(/^([a-zA-ZáéíóúüñÁÉÍÓÚÑ]*)|([a-zA-ZáéíóúüñÁÉÍÓÚÑ]*\s[a-zA-ZáéíóúüñÁÉÍÓÚÑ]*)$/)
                .required(),
            surnames: yup
                .string()
                .matches(/^([a-zA-ZáéíóúüñÁÉÍÓÚÑ]*)|([a-zA-ZáéíóúüñÁÉÍÓÚÑ]*\s[a-zA-ZáéíóúüñÁÉÍÓÚÑ]*)$/)
                .required(),
            address: yup.string().required(),
            urlCV: yup.string().url().notRequired()

            //  "fechaFinalizacion-0": yup.number().typeError('Has de introducir un año en formato numérico').min(1950, 'El año ha de ser superior o igual a ${min}').max(2099, 'El año ha de ser inferior a o igual a ${max}'),
        })
        return {
            mySchema,
            user: {},
            studentsRepository: new Repository('students'),
            studentsCyclesRepository: new Repository('studentCycles'),
            cyclesCursed: [],
            bgColor: '',
            isVisible: false,
            alertMsg: ''
        }
    },
    methods: {
        async loadUser() {
            try {
                const response = await this.studentsRepository.findById(this.$route.params.studentId)
                this.user = response
                console.log(this.user)
            } catch (error) {
                console.error(error)
            }
        },
        async loadCycles() {
            try {
                const response = await this.studentsCyclesRepository.getCiclesByStudents(sessionStorage.idType)
                console.log(response)
            } catch (error) {
                console.error(error)
            }
        },
        async handleSubmit() {
            console.log(this.user)
            this.user.accept = true
            this.user.isActivated = 1
            console.log("Editing")

            try {
                if (!this.cyclesCursed.length) {
                    this.addCAlert('#FBDDDD', 'Debe seleccionar al menos 1 ciclo', true)
                    return
                }

                this.user.cycle_endDate_ids = []

                for (var i = 0; i < this.cyclesCursed.length; i++) {
                    this.user.cycle_endDate_ids[i] = {
                        cycle: this.cyclesCursed[i].id,
                        endDate: this.cyclesCursed[i].dateEnd ? this.cyclesCursed[i].dateEnd : null
                    }
                }
                console.log(this.user)
                console.log(await this.studentsRepository.update(this.user))
                this.user = {}
                this.cyclesCursed = []

            } catch (err) {
                console.log(err)
                alert(err.message)
            }
        },
        add(cycle) {

            if (this.isDuplicated(cycle)) {
                this.addCAlert('#FBDDDD', 'No se puede añadir 2 ciclos iguales', true)
                return
            }
            this.cyclesCursed.push(cycle)
            this.addCAlert('#D4F1DF', `${cycle.cliteral} añadido`, true)
        },
        isDuplicated(cycle) {
            return this.cyclesCursed.find((item) => item.id === cycle.id)
        },
        del(cycle) {
            const index = this.cyclesCursed.findIndex((item) => item.id === cycle.id)
            if (index !== -1) {
                this.cyclesCursed.splice(index, 1)
            }
        },
        addCAlert(bgColor, alertMsg, isVisible) {
            this.bgColor = { 'background-color': bgColor }
            this.alertMsg = alertMsg
            this.isVisible = isVisible

            setTimeout(() => {
                this.isVisible = false
            }, 10000)
        }
    }
}
</script>

<template>
    <title>Bolsa Trabajo | Nuevo alumno</title>
    <Form @submit="handleSubmit" :validation-schema="mySchema">
        <div>
            <legend>Editar alumno</legend>
            <c-alert :style="this.bgColor" :visible="this.isVisible" dismissible @close="() => {
                this.isVisible = false
            }
                ">
                {{ alertMsg }}
            </c-alert>
        </div>

        <div>
            <label>Nombre</label>
            <Field name="nombre" type="text" v-model="user.name" /><br />
            <ErrorMessage name="nombre" />
        </div>

        <div>
            <label>Apellidos</label>
            <Field name="surnames" type="text" v-model="user.surnames" /><br />
            <ErrorMessage name="surnames" />
        </div>

        <div>
            <label>Dirección</label>
            <Field name="address" type="text" v-model="user.address" /><br />
            <ErrorMessage name="address" />
        </div>

        <div>
            <label>Ciclos cursados</label>
            <cicles-availables :cycles="this.items" @addCycleSelcted="add"></cicles-availables>
            <student-cycles-selected :cycles="this.cyclesCursed" @delCycleCursed="del" />
        </div>

        <div>
            <label>Enlace CV (opcional)</label>
            <Field name="urlCV" type="text" v-model="user.urlCV" />
            <ErrorMessage name="urlCV" />
        </div>

        <Button type="submit" text="Modificar" :style="{ 'background-color': '#87CEFA' }">
        </Button>
    </Form>
</template>

<style scoped lang="sass">
.alert
    position: fixed
    right: 1%
[role=alert]
    color: red
    margin-bottom: 1%

div
    text-align: center
    margin-bottom: 2%

label, button
    display: block

input
    text-align: center
    padding: 0.6% 1.5% 0.6% 1.5%
    width: 30em
    border: 1px solid

legend
    font-size: 28px
    font-weight: 600
    margin-bottom: 3%

@media (max-width: 498px)
    input
        width: 25em
    button
        padding: 7px 20px 7px 20px
        font-size: 15px

@media (max-width: 423px)
    input
        width: 19em

@media (max-width: 423px)
    input
        width: 80%
</style>