<script>
import { useStudentsStore } from '@/stores/students'
import { mapState, mapActions } from 'pinia'
import { RouterLink } from 'vue-router'

export default {
    computed: {
        ...mapState(useStudentsStore, ['students'])
    },
    methods: {
        del(index, student) {
            if (confirm(`Desea borrar a el estudiante ${student.name}`)) {
                try {
                    this.remove(student)
                    this.students.splice(index, 1)
                } catch (e) {
                    throw new Error (e.message)
                }
            }
        },
        ...mapActions(useStudentsStore, ['remove'])
    },
    components: { RouterLink }
}
</script>

<template>
    <p v-if="students.length === 0">No hay estudiantes actualmente</p>
  <table v-else>
    <thead>
      <th>Id</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>url CV</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr v-for="(student, index) in students.data" :key="student.id">
        <td>{{ student.id }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.surname }}</td>
        <td>{{ student.urlCV }}</td>
        <td>
          <button class="deleteButton" type="button" @click="del(index, student)">
            <i class="fas fa-trash"></i>
          </button>
          <button class="editButton" type="button" @click="$router.push('edit-student/' + student.id)">
            <i class="fas fa-pencil"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<style scoped lang="sass">
table
    width: 80%
    margin: 0 auto
    border-collapse: collapse
    border-style: hidden
    td
        border: 1px solid black

button
    width: 100%
    border-radius: 0px
    margin-top: 0px
    background-color: none

thead
    background-color: lch(74.41% 0 151.24)

th
    text-align: center

.deleteButton
    margin-right: 5px
    margin-top: 10px
    padding: 5px 10px
    cursor: pointer
    background-color: #dd4b37
    color: #fff
    border: none
    border-radius: 4px

.editButton
    margin-right: 5px
    margin-top: 10px
    padding: 5px 10px
    cursor: pointer
    background-color: #b0861c
    color: #fff
    border: none
    border-radius: 4px

td
    text-align: center
</style>