<template>
  <title>Bolsa Trabajo | About</title>
  <h1>About</h1>
  <p>
    Esto es la bolsa de trabajo de Batoi. La cual puedes registrarte como alumno y empresa, además
    de que te da la posibilidad de ver las empresas disponibles, los ciclos y muchas más
    funcionalidades que se implementan en esta, para ayudar tanto a los usuarios como a las
    empresas.
  </p>
  <img src="../assets/img/centroBatoi.jpg" alt="batoi" />
  <img src="../assets/img/centro.jpg" alt="centro" />
</template>

<script setup></script>

<style scoped lang="sass">
h1
  margin-left: 10px
  text-align: center
p
  margin: 50px 50px 50px 10px
  text-align: justify
img
  width: 500px
  height: 250px
  margin-left: 10px
</style>
