<template>
  <title>Bolsa Trabajo Batoi</title>
  <h1>Bolsa de Trabajo Batoi</h1>
  <div>
    <div class="left">
      <img :src="photo" alt="Inicio">
    </div>
    <div class="right">
      <Button @click="goTo('login')">Iniciar sesión</Button>
      <Button @click="goTo('register')">Registrarse</Button>
    </div>
  </div>
</template>

<script setup>
import photo from '@/assets/img/access.jpg'
import Button from '@/components/Button.vue'
import { useRouter } from 'vue-router'

const router = useRouter()

const goTo = (name) => {
  router.push({ name: name })
}
</script>

<style scoped lang="sass">
h1
  text-align: center
  margin-bottom: 5%

img
  border-radius: 20px

p
  margin-left: 5px

button
  margin-left: 3%

div
  display: flex
  justify-content: space-between
  padding: 0% 2% 0% 2%

.left
  background-color: #CDB094
  padding: 0.2%
  border-radius: 20px

img
  width: 100%

.right
  display: block
  margin: auto 0
  text-align: center

button
  width: 80%

@media (max-width: 722px)
  button
    font-size: 16px

  div
    display: block
  
  .left
    background-color: red

  img
    height: 450px

</style>
