<template>
    <h1>Home</h1>
    <Button @click="modProfile">Modificar perfil</Button>
    <Button @click="logout">Cerrar sesión</Button>
</template>

<script setup>
import Button from '@/components/Button.vue'
import { useRouter } from 'vue-router'
console.log(sessionStorage.idType)

const userRoleId = sessionStorage.idType
const router = useRouter()
const logout = () => {
    sessionStorage.removeItem('token')
    sessionStorage.removeItem('id')
    sessionStorage.removeItem('role')
    sessionStorage.removeItem('idType')
    router.push({ name: '/' })
}
const modProfile = () => {
    const role = sessionStorage.role
    if (role == 'student') {
        router.push({ name: 'edit-student', params: { studentId: userRoleId } })
    }
    if (role == 'company') {
        router.push({ name: 'edit-student', params: { studentId: userRoleId } })
    }
}
</script>

<style scoped lang="sass">

</style>
