<template>
  <title>Bolsa Trabajo | Login</title>
  <div>
    <h1>Bolsa Trabajo Batoi</h1>
    <h2>Iniciar sesión</h2>
    <Form @submit="submit" :validation-schema="schema">
      <label for="email">Email</label>
      <Field type="email" name="email" v-model="user.email" />
      <ErrorMessage name="email" />

      <label for="password">Contraseña</label>
      <Field type="password" name="password" v-model="user.password" />
      <ErrorMessage name="password" />

      <Button type="submit" text="Iniciar sesión" :style="{ 'background-color': '#46d783' }" />

      <p>¿Prefieres iniciar sesión con Google o GitHub?</p>
      <Button type="button" text="Google" :style="{ 'background-color': '#b7b7b7' }" @click="google">
        <BIconGoogle />
      </Button>
      <Button type="button" text="GitHub" :style="{ 'background-color': '#b7b7b7' }">
        <BIconGithub />
      </Button>
    </Form>
  </div>
</template>

<script setup>
import { BIconGithub, BIconGoogle } from 'bootstrap-icons-vue'
import Button from '@/components/Button.vue'
import { Form, Field, ErrorMessage } from 'vee-validate'
import * as yup from 'yup'
import { ref } from 'vue'
import AuthServices from '@/services/AuthServices.class'
import { useRouter } from 'vue-router'

const user = ref({})
const router = useRouter()
const auth = new AuthServices('login')

const submit = async () => {
  const userLogged = await auth.login(user.value.email, user.value.password)
  console.log(userLogged.data)

  sessionStorage.setItem('token', userLogged.data.token)
  sessionStorage.setItem('role', userLogged.data.role)
  sessionStorage.setItem('id', userLogged.data.id)
  sessionStorage.setItem('idType', userLogged.data.idType)

  if (sessionStorage.token) {
    router.push({ name: 'home' })
  }
}

const schema = yup.object({
  email: yup.string().required('Campo obligatorio').email('Email inválido'),
  password: yup.string().required('Campo obligatorio')
})


const google = () => {
  console.log("dentro")
  auth.loginWithGoogle()
}
</script>

<style scoped lang="sass">
div
    text-align: center

label, button, span
    display: block

input
    text-align: center
    padding: 0.6% 1.5% 0.6% 1.5%
    width: 30em
    border: 1px solid

p
  margin-top: 15px

span
    color: red
    margin-bottom: 1%

@media (max-width: 498px)
    input
        width: 25em
    button
        padding: 7px 20px 7px 20px
        font-size: 15px

@media (max-width: 423px)
    input
        width: 19em

@media (max-width: 423px)
    input
        width: 80%
</style>
