<template>
    <div>
        <img src="/notfound.png" alt="not-found">
        <Button type="button" @click="goBack">Back Home</Button>
    </div>
</template>
  
<script>
import Button from '@/components/Button.vue';

export default {
    components: {
        Button
    },
    methods: {
        goBack() {
            window.history.back();
        }
    }
};
</script>
  
<style scoped lang="sass">

div
   text-align: center
   padding: 20px
  
img
   max-width: 100%
   height: auto
   margin-bottom: 20px
  
@media only screen and (max-width: 768px) 
div
    padding: 10px
  
@media only screen and (max-width: 480px) 
img
    margin-bottom: 10px
  
  </style>
  