<template>
  <title>Bolsa Trabajo | Registro</title>
  <h1>Registrarse</h1>
  <div>
    <Button @click="goTo('register-company')" :style="{ 'background-color': '#5391f3' }"
      >Registrarse como empresa</Button
    >
    <Button @click="goTo('register-student')" :style="{ 'background-color': '#3da435' }"
      >Registrarse como alumno</Button
    >
    <Button @click="goTo('register-responsible')" :style="{ 'background-color': '#d15a0b' }"
      >Registrarse como responsable</Button
    >
  </div>
</template>

<script setup>
import Button from '@/components/Button.vue'
import { useRouter } from 'vue-router'

const router = useRouter()

const goTo = (name) => {
  router.push({ name: name })
}
</script>

<style scoped lang="sass">
h1
    margin-top: 2%
    text-align: center
    margin-bottom: 10px
div
    margin: 0 auto
    padding: 3% 

button
    display: flex

@media (max-width: 425px)
    button
        margin-top: 8%
</style>
