<template>
    <RouterLink :to="{ name: 'home' }"><a>Home</a></RouterLink>
    <RouterLink :to="{ name: 'create-offer' }"><a>Crear oferta</a></RouterLink>
    <RouterLink :to="{ name: 'offers' }"><a>Ver ofertas</a></RouterLink>
</template>