<template>
  <button :type="type" @click="$emit('click')">
    <slot></slot>
    {{ text }}
  </button>
</template>

<script setup>
defineProps(['type', 'text'])
defineEmits(['click'])
</script>

<style scoped lang="sass">
button
    font-size: 20px
    margin: 0 auto
    margin-top: 2%
    padding: 15px 40px 15px 40px
    border: none
    border-radius: 20px
    &:hover
        cursor: pointer
        box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75)
</style>
