<template>
  <p v-if="cycles.length === 0">No hay ciclos escogidos</p>
  <table v-else class="choosen">
    <thead>
      <th colspan="2">Ciclos escogidos</th>
    </thead>
    <tbody>
      <tr v-for="cycle in cycles" :key="cycle.id">
        <td>{{ cycle.cliteral }}</td>
        <td>
          <Button
            type="button"
            :style="{ 'background-color': '#e82d22' }"
            class="fas fa-x"
            @click="$emit('delCycleSelcted', cycle)"
          ></Button>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script setup>
import Button from '@/components/Button.vue'
defineProps(['cycles'])
defineEmits(['delCycleSelcted'])
</script>

<style scoped lang="sass">
table
    width: 80%
    margin: 0 auto
    border-collapse: collapse
    border-style: hidden
    td
        border: 1px solid black

button
    width: 100%
    border-radius: 0px
    margin-top: 0px
    background-color: none

thead
    background-color: lch(74.41% 0 151.24)

th
    text-align: center

.choosen
    margin-top: 5%
</style>
