<template>
  <h3 v-if="!showCycles" @click="toggleCycles">
    <a>Desplegar Ciclos</a>
    <i class="fa-solid" :class="showCycles ? 'fa-chevron-down' : 'fa-chevron-up'"></i>
  </h3>
  <table v-else>
    <thead>
      <th>Familia</th>
      <th>Cliteral</th>
      <th @click="toggleCycles">
        <i
          class="fa-solid"
          :class="showCycles ? 'fa-chevron-down' : 'fa-solid fa-circle-caret-down'"
        ></i>
      </th>
    </thead>

    <tbody>
      <tr v-if="showCycles" v-for="cycle in cycles" :key="cycle.id">
        <td>{{ findById(cycle.departamento)?.cliteral.toUpperCase() }}</td>
        <td>{{ cycle.cliteral }}</td>
        <td>
          <Button
            type="button"
            :style="{ 'background-color': '#46d783' }"
            class="fas fa-plus-square"
            @click="$emit('addCycleSelcted', cycle)"
          ></Button>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import { ref } from 'vue'
import Button from '@/components/Button.vue'
import { useProfessionalFamiliesStore } from '@/stores/professionalFamilies'
export default {
  components: {
    Button
  },
  props: ['cycles'],
  emits: ['addCycleSelcted'],
  setup() {
    const store = useProfessionalFamiliesStore()
    const { findById } = store

    const showCycles = ref(false)

    const toggleCycles = () => {
      showCycles.value = !showCycles.value
    }

    return {
      showCycles,
      toggleCycles,
      findById
    }
  }
}
</script>

<style scoped lang="sass">
table
    width: 80%
    margin: 0 auto
    border-collapse: collapse
    border-style: hidden
    caret-color: transparent
    td
        border: 1px solid black

button
    width: 100%
    border-radius: 0px
    margin-top: 0px
    background-color: none

thead
    background-color: lch(74.41% 0 151.24)

th
    text-align: center

h3
    margin-top: 1%
    margin-bottom: 1%

i
</style>