<template>
  <header>

    <nav>
      <RouterLink :to="{ name: '/' }"><a>Logo</a></RouterLink>
      <slot>
        <StudentMenu v-if="role === 'student'" />
        <CompanyMenu v-else-if="role === 'company'" />
        <AdminMenu v-else-if="role === 'admin'" />
      </slot>
      <RouterLink :to="{ name: 'about' }"><a>About</a></RouterLink>
      <div id="container" class="toggle">
        <i class="fas fa-sun" style="color: #ffffff"></i>
        <i class="fas fa-moon" style="display: none"></i>
      </div>
    </nav>
  </header>
  <RouterView />
</template>

<script>
import { RouterLink, RouterView } from 'vue-router'
import { toggle } from '@/toggle.js'
export default {
  components: {
    RouterLink,
    RouterView
  },
  mounted() {
    toggle()
    this.role = sessionStorage.role
  },
  data() {
    return { role: '' }
  }
}
</script>

<style>
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);
header {
  background-color: #333;
  padding: 10px 0;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  letter-spacing: 1px;
  caret-color: transparent;
}

body {
  background-color: #f8f8f8;
}

#container {
  position: relative;
  cursor: pointer;
  margin-top: 7px;
  margin-right: 10px;
  background-color: rgba(90, 90, 90, 0.829);
}

.toggle {
  width: 50px;
  height: 30px;
  background-color: #f8f8f8;
  border-radius: 25px;
}

i {
  caret-color: transparent !important;
}

.toggle .circle {
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

.toggle.active .circle {
  transform: translateX(20px);
}

.toggle i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggle.active i:last-child {
  display: block;
}

.toggle i {
  font-size: 16px;
}

body.active {
  background-color: rgb(23, 23, 23);
  color: white;
}

@media only screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start; 
  }
  .menu {
    margin-top: 20px;
  }
}

@media (min-width: 576px) {
  li {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  #menu-icono {
    display: block !important;
  }
}

@media (max-width: 1000px){
  header{
    flex-direction: column;
    align-items: flex-start;
  }
}

</style>
