<script>
import Repository from '@/repositories/Repository.class'
import Button from '@/components/Button.vue'

export default {
    props: {
        tableRepo: {
            type: String,
            required: true
        },
        items: {
            type: Array,
            required: true
        }
    },
    data() {
        return {
            repository: new Repository(this.tableRepo),
            currentPage: 1,
            nextItems: [],
            prevItems: [],
            currentItems: [this.items],
        }
    },
    methods: {
        areNextItems() {
            if (this.nextItems.length) {
                return true
            }
            return false
        },
        async nextPage() {
            this.currentPage++
            this.nextItems = await this.repository.getPage(this.currentPage)
            if (this.areNextItems()) {
                this.currentItems = this.nextItems
                return
            }
            this.currentPage--
        },
        arePrevItems() {
            if (this.currentPage < 1) {
                return false
            } else {
                if (this.prevItems.length) {
                    return true
                }
                return false
            }

        },
        async prevPage() {
            this.currentPage--
            this.prevItems = await this.repository.getPage(this.currentPage)
            if (this.arePrevItems()) {
                this.currentItems = this.prevItems
                return
            }
            this.currentPage++
        }
    }
}
</script>

<template>
    <div class="contenedor-botones">
        <div v-if="currentPage > 1" id="contenedor-boton-flecha-izquierda">
            <Button type="button" class="fa fa-arrow-left" @click="prevPage"></Button>
        </div>
        <div id="contenedor-boton-flecha-derecha">
            <Button type="button" class="fa fa-arrow-right" @click="nextPage"></Button>
        </div>
    </div>
</template>

<style scoped lang="sass">
.contenedor-botones 
    width: 15%
    text-align: center
    margin: 0 auto
    
#contenedor-boton-flecha-derecha
    float: right
    margin: 1%

#contenedor-boton-flecha-izquierda
    float: left
    margin: 1%
</style>