<template>
  <p v-if="cycles.length === 0">No hay ciclos escogidos</p>
  <table v-else class="choosen">
    <thead>
      <th colspan="2">Ciclos escogidos</th>
    </thead>
    <tbody>
      <tr v-for="(cycle, index) in cycles" :key="cycle.id">
        <td>{{ cycle.cliteral }}</td>
        <td>
          Fecha de finalización
          <Field
            type="number"
            :name="`fechaFinalizacion-${index}`"
            placeholder="YYYY"
            v-model="cycle.dateEnd"
          />
          <br />
          <ErrorMessage :name="`fechaFinalizacion-${index}`"></ErrorMessage>
        </td>
        <td>
          <Button
            type="button"
            text="X"
            :style="{ 'background-color': '#e82d22' }"
            @click="$emit('delCycleCursed', cycle)"
          >
          </Button>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script setup>
import { Field, ErrorMessage } from 'vee-validate'
import Button from './Button.vue'

defineProps(['cycles'])
defineEmits(['delCycleCursed'])
</script>

<style scoped lang="sass">

[role=alert]
    color: red

table
    width: 80%
    margin: 0 auto
    border-collapse: collapse
    border-style: hidden
    td
        border: 1px solid black

button
    width: 100%
    border-radius: 0px
    margin-top: 0px
    background-color: none

thead
    background-color: lch(74.41% 0 151.24)

th
    text-align: center

.choosen
    margin-top: 5%

@media (max-width: 565px)
    input
        width: 95%
    button
        font-size: 15px
</style>
