<script>
export default {
  props: {
    student: {
      type: Object,
      required: true
    }
  }
}
</script>

<template>
  <tr>
    <td>{{ student.name }}</td>
    <td>{{ student.surnames }}</td>
    <td>{{ student.urlCV }}</td>
  </tr>
</template>

<style scoped lang="sass"></style>
