@import '_variables.sass'

body
    background-color: $background-color-light
    font-family: $font-family

html, body
    margin: 0px
    height: 100%

#app
    height: 100%
    
h1
    color: $titles-light