<template>
  <Menu />
  <footer>Copyright &#169; Alumnos Batoi 2023</footer>
</template>

<script setup>
import { useCyclesStore } from './stores/cycles'
import { useProfessionalFamiliesStore } from './stores/professionalFamilies'
import { useCompaniesStore } from './stores/companies'
import { useStudentsStore } from './stores/students'
import { onMounted } from 'vue'
import Menu from '@/components/Menu.vue'

const ciclesStore = useCyclesStore()
const { loadCycles } = ciclesStore

const familiesStore = useProfessionalFamiliesStore()
const { loadFamilies } = familiesStore

const companiesStore = useCompaniesStore()
const { loadCompanies } = companiesStore

const studentsStore = useStudentsStore()
const { loadStudents } = studentsStore

onMounted(async () => {
  await loadCycles()
  await loadFamilies()


})
</script>

<style scoped>
footer {
  background-color: #333333;
  text-align: center;
  width: 100%;
  color: white;
  margin-top: 5%;
  bottom: 0 !important;
  display: block;
}
</style>
./stores/cycles./stores/professionalFamilies
