<template>
  <title>Bolsa Trabajo | Crear Oferta</title>
  <div>
    <h1>Bolsa Trabajo Batoi</h1>
    <h2>Crear Oferta</h2>
    <CAlert :style="bgColor" :visible="isVisible" dismissible @close="() => {
      isVisible = false
    }
      ">
      {{ alertMsg }}
    </CAlert>
    <Form @submit="submit" :validation-schema="schema">
      <label for="description">Descripción</label>
      <Field as="textarea" v-model="offer.description" name="description" cols="80" rows="12" />
      <ErrorMessage name="description" />

      <label for="cicles">Escoga los ciclos requeridos</label>
      <CyclesAvailables :cycles="items" @addCycleSelcted="add" />
      <CyclesSelected :cycles="cyclesRequired" @delCycleSelcted="del" />

      <label for="contractDuration">Duración del contrato</label>
      <Field type="text" name="contractDuration" v-model="offer.contractDuration" />
      <ErrorMessage name="contractDuration" />

      <label for="contact">Nombre de contacto</label>
      <Field type="text" name="contact" v-model="offer.contact" />
      <ErrorMessage name="contact" />

      <label for="registrationMethod">Método de inscripción</label>
      <Field type="text" name="registrationMethod" v-model="offer.registrationMethod" />
      <ErrorMessage name="registrationMethod" />

      <label for="isActive">Estado</label>
      <Field type="radio" name="isActive" v-model="offer.isActive" value="1" />Activa
      <Field type="radio" name="isActive" v-model="offer.isActive" value="0" />Inactiva
      <ErrorMessage name="isActive" />

      <Button type="submit" text="Crear" :style="{ 'background-color': '#46d783' }" />
    </Form>
  </div>
</template>

<script>
import { CAlert } from '@coreui/vue'
import CyclesAvailables from '@/components/CyclesAvailables.vue'
import CyclesSelected from '@/components/CyclesSelected.vue'
import Button from '@/components/Button.vue'
import { Form, Field, ErrorMessage } from 'vee-validate'
import * as yup from 'yup'
import { useCyclesStore } from '@/stores/cycles'
import { mapState } from 'pinia'
import Repository from '@/repositories/Repository.class'

export default {
  computed: {
    ...mapState(useCyclesStore, ['items'])
  },
  components: {
    Form,
    Field,
    ErrorMessage,
    Button,
    CyclesAvailables,
    CyclesSelected,
    CAlert
  },
  methods: {
    add(cicle) {
      if (this.isDuplicate(cicle)) {
        this.bgColor = { 'background-color': '#FBDDDD' }
        this.alertMsg = 'No se puede añadir 2 ciclos iguales'
        this.isVisible = true
        return
      }
      this.cyclesRequired.push(cicle)
      this.bgColor = { 'background-color': '#D4F1DF' }
      this.alertMsg = `${cicle.cliteral} añadido`
      this.isVisible = true
    },
    del(cicle) {
      const index = this.cyclesRequired.indexOf(cicle)
      this.cyclesRequired = this.cyclesRequired.filter((item) => item.id !== cicle.id)
      this.cyclesRequired.splice(index, 1)
      this.bgColor = { 'background-color': '#FEEFD1' }
      this.alertMsg = `${cicle.cliteral} eliminado tu lista de ciclos`
      this.isVisible = true
    },
    isDuplicate(cicle) {
      this.cyclesRequired.find((item) => item.id === cicle.id)
    },
    async submit() {
      console.log('Entra')
      if (this.cyclesRequired.length === 0) {
        this.bgColor = { 'background-color': '#FEEFD1' }
        this.alertMsg = `Debes escoger como mínimo 1 ciclo`
        this.isVisible = true
        return
      }

      console.log(this.offer)
      this.repository = new Repository('jobOffers')
      try {
        this.offer.isActive = Number(this.offer.isActive)
        this.response = await this.repository.add(this.offer)
        console.log(this.response)
        this.bgColor = { 'background-color': '#FEEFD1' }
        this.alertMsg = `Oferta creada`
        this.isVisible = true
      } catch (error) {
        this.bgColor = { 'background-color': '#FEEFD1' }
        this.alertMsg = error
        this.isVisible = true
        console.log(error)
      }
    }
  },
  data() {
    const schema = yup.object({
      description: yup.string().required('Campo obligatorio'),
      contractDuration: yup.string().required('Campo obligatorio'),
      contact: yup.string().required('Campo obligatorio'),
      registrationMethod: yup.string().required('Campo obligatorio'),
      isActive: yup.string().required('Campo obligatorio')
    })
    return {
      schema,
      bgColor: '',
      alertMsg: '',
      isVisible: false,
      cyclesRequired: [],
      offer: {
        company_id: sessionStorage.idType,
        observations: "Poner que no sean requeridas",
        isDeleted: false,
        isValid: false,
      },
      cycles: {},
      repository: {},
      response: ''
    }
  }
}
</script>

<style scoped lang="sass">
.alert
    position: fixed
    right: 1%
div
    text-align: center

label
    margin-top: 3%

label, button, span
    display: block

input[type='text'], input[type='tel']
    text-align: center
    padding: 0.6% 1.5% 0.6% 1.5%
    width: 30em

textarea
    resize: none
    padding: 1%

select
    padding: 0.6% 1.5% 0.6% 1.5%
    text-align: center

span
    color: red
    margin-bottom: 1%

@media (max-width: 768px)
    textarea
        width: 70%

@media (max-width: 470px)
    textarea
        width: 90%
    input[type='text'], input[type='tel']
        width: 90%
    button
        font-size: 17px
        padding: 7px 20px 7px 20px
</style>