<template>
    <h1>Ofertas de trabajo</h1>
    <table>
        <thead>
            <th>company_id</th>
            <th>contactDuration</th>
            <th>contact</th>
            <th>description</th>
        </thead>
        <tbody>
            <tr v-for="offer in offers" :key="offer.id">
                <td>{{ offer.company_id }}</td>
                <td>{{ offer.contactDuration }}</td>
                <td>{{ offer.contact }}</td>
                <td>{{ offer.description }}</td>
            </tr>
        </tbody>
    </table>
</template>

<script setup>
import Repository from '@/repositories/Repository.class'
import { ref, onMounted } from 'vue'

const repository = new Repository('jobOffers')
let offers = ref([])

onMounted(async () => {
    const response = await repository.getJobOffersByCompany(sessionStorage.idType)
    offers.value = response.data
})
</script>

<style scoped lang="sass">

</style>
