<script>
import Repository from '@/repositories/Repository.class'
import StudentItem from '@/components/StudentItem.vue'
import Button from '@/components/Button.vue'

export default {
  data() {
    return {
      repository: new Repository('students'),
      students: [],
      currentPage: 1,
      nextStudents: [],
      prevStudents: [],
    }
  },
  mounted() {
    this.loadAllStudentsInOffer()
  },
  methods: {
    async loadAllStudentsInOffer() {
      try {
        this.students = await this.repository.getAll()
        // En el REPO se ha de crear un método que devuelva
        // los estudiantes que se han apuntado a una oferta en concreto
      } catch (err) {
        alert(err.message)
      }
    },
    async areNextStudents() {
      this.currentPage++
      this.nextStudents = await this.repository.getPage(this.currentPage)
      if (this.nextStudents.length) {
        return true
      }
      this.currentPage--
      return false
    },
    async nextPage() {
      const nextStudents = await this.areNextStudents()
      if (nextStudents) {
        this.students = this.nextStudents
        return
      }
    },
    arePrevStudents() {
      if (this.currentPage < 1) {
        return false
      } else {
        if (this.prevStudents.length) {
          return true
        }
        return false
      }

    },
    async prevPage() {
      this.currentPage--
      this.prevStudents = await this.repository.getPage(this.currentPage)
      if (this.arePrevStudents()) {
        this.students = this.prevStudents
        return
      }
      this.currentPage++
    }
  },
  components: {
    StudentItem,
    Button
  }
}
</script>

<template>
  <div>
    <h2>Estudiantes apuntados a la oferta</h2>
  </div>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Url CV</th>
      </tr>
    </thead>
    <tbody>
      <student-item v-for="student in students" v-bind:key="student.id" v-bind:student="student"></student-item>
    </tbody>
  </table>
  <div class="contenedor-botones">
    <div v-if="currentPage > 1" id="contenedor-boton-flecha-izquierda">
      <Button type="button" class="fa fa-arrow-left" @click="prevPage"></Button>
    </div>
    <div id="contenedor-boton-flecha-derecha">
      <Button type="button" class="fa fa-arrow-right" @click="nextPage"></Button>
    </div>
  </div>
</template>

<style scoped lang="sass">
div
    text-align: center
table
    margin: 0 auto
    border-collapse: collapse
    border-style: hidden
td
    border: 1px solid black
    text-align: center

thead
    background-color: lch(74.41% 0 151.24)

th
    text-align: center


.contenedor-botones 
    width: 15%
    text-align: center
    margin: 0 auto
    
#contenedor-boton-flecha-derecha
    float: right
    margin: 1%

#contenedor-boton-flecha-izquierda
    float: left
    margin: 1%
</style>
