<script>
import { useCompaniesStore } from '@/stores/companies'
import { mapState, mapActions } from 'pinia'
import Repository from '@/repositories/Repository.class'
export default {
  props: ['id'],
  computed: {
    ...mapState(useCompaniesStore, ['items'])
  },
  methods: {
    del(index, company) {
      if (confirm(`¿Estás seguro de que deseas eliminar la empresa ${company.name} ?`)) {
        try {
          this.remove(company)
          this.items.data.splice(index, 1)
        } catch (error) {
          alert(error)
        }
      }
    },
    ...mapActions(useCompaniesStore, ['remove'])
  }
}
</script>

<template>
  <p v-if="items.length === 0">No hay empresas actualmente</p>
  <table v-else>
    <thead>
      <th>Id</th>
      <th>Nombre</th>
      <th>CIF</th>
      <th>Nombre contacto</th>
      <th>Compañia Web</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr v-for="(company, index) in items.data" :key="company.id">
        <td>{{ company.id }}</td>
        <td>{{ company.name }}</td>
        <td>{{ company.cif }}</td>
        <td>{{ company.contactName }}</td>
        <td>{{ company.companyWeb }}</td>
        <td>
          <button class="deleteButton" type="button" @click="del(index, company)">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<style scoped lang="sass">
table
    width: 80%
    margin: 0 auto
    border-collapse: collapse
    border-style: hidden
    td
        border: 1px solid black

button
    width: 100%
    border-radius: 0px
    margin-top: 0px
    background-color: none

thead
    background-color: lch(74.41% 0 151.24)

th
    text-align: center

.deleteButton
  margin-right: 5px
  margin-top: 10px
  padding: 5px 10px
  cursor: pointer
  background-color: #dd4b37
  color: #fff
  border: none
  border-radius: 4px

td
    text-align: center
</style>
