<script>
import { Form, Field, ErrorMessage } from 'vee-validate'
import * as yup from 'yup'
import Button from '@/components/Button.vue'
import Repository from '@/repositories/Repository.class'
export default {
  components: {
    Form,
    Field,
    ErrorMessage,
    Button,
  },
  data() {
    return {
      company: {
        accept: "off"
      },
      schema: yup.object({
        email: yup.string().required('Campo obligatorio').email('Email inválido'),
        password: yup.string().required('Contraseña obligatoria').matches(/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/, 'Contraseña no valida'),
        name: yup.string().required('Campo obligatorio'),
        contactName: yup.string().required('Campo obligatorio'),
        companyWeb: yup.string(),
        /* El cif no puede repetirse y ha de cumplir un formato específico, ponerse de acuerdo con backend */
        cif: yup.string().required('Campo obligatorio').matches(/^[AB]\d{7}[0-9A-B]$/, "El cif ha de empezar y teminar por A o B, y contener 7 números"),
        accept: yup.boolean().typeError('Debe aceptar los términos para continuar'),
      }),
    }
  },
  methods: {
    async submit() {
      this.company.accept = true
      try {
        const repository = new Repository('companies')
        const response = await repository.add(this.company)
        console.log(response)
      } catch (error) {
        console.log(error)
      }
    }
  }
}
/* Hacer un redirect a la pagina de home */
</script>

<template>
  <Form @submit="submit" :validation-schema="schema">
    <h1>Bolsa Trabajo Batoi</h1>
    <h2>Registrar nueva empresa</h2>

    <div>
      <label>Email:</label>
      <Field name="email" type="email" v-model="company.email" /><br />
      <ErrorMessage name="email" />
    </div>

    <div>
      <label>Contraseña:</label>
      <Field name="password" type="password" v-model="company.password"></Field>
      <ErrorMessage name="password" />
    </div>

    <div>
      <label>Nombre empresa:</label>
      <Field name="name" type="text" v-model="company.name"></Field>
      <ErrorMessage name="name" />
    </div>

    <div>
      <label>CIF empresa:</label>
      <Field name="cif" type="text" v-model="company.cif"></Field>
      <ErrorMessage name="cif" />
    </div>

    <div>
      <label>Nombre contacto:</label>
      <Field name="contactName" type="text" v-model="company.contactName"></Field>
      <ErrorMessage name="contactName" />
    </div>

    <div>
      <label>Dirección:</label>
      <Field name="address" type="text" v-model="company.address"></Field>
      <ErrorMessage name="address" />
    </div>

    <div>
      <Field type="checkbox" name="accept" v-model="company.accept" />
      <p>Acepto los términos y condiciones</p>
      <ErrorMessage name="accept" />
    </div>
    <Button type="submit" text="Registrar" :style="{ 'background-color': '#87CEFA' }" />
  </Form>
</template>

<style scoped lang="sass">
form
    text-align: center

h2
    text-align: center
    padding-bottom: 10px

div
    text-align: center
    margin-bottom: 2%

label, button, span
    display: block

input
    text-align: center
    padding: 0.6% 1.5% 0.6% 1.5%
    width: 30em
    border: 1px solid

span
    color: red
    margin-bottom: 1%

@media (max-width: 498px)
    input
        width: 25em
    button
        padding: 7px 20px 7px 20px
        font-size: 15px

@media (max-width: 423px)
    input
        width: 19em

@media (max-width: 423px)
    input
        width: 80%
</style>