<template>
  <div>
    <h1>Bolsa Trabajo Batoi</h1>
    <h2>Registrar Responsable</h2>
    <CAlert :style="bgColor" :visible="isVisible" dismissible @close="() => {
        isVisible = false
      }
      ">
      {{ alertMsg }}
    </CAlert>
    <Form @submit="submit" :validation-schema="schema">
      <label for="email">Email</label>
      <Field type="email" name="email" v-model="responsible.email" />
      <ErrorMessage name="email" />

      <label for="password">Password</label>
      <Field type="password" name="password" v-model="responsible.password" />
      <ErrorMessage name="password" />

      <label for="address">Dirección</label>
      <Field type="text" name="address" v-model="responsible.address" />
      <ErrorMessage name="address" />

      <Field type="checkbox" name="accept" v-model="responsible.accept" />
      <p>Acepto los términos y condiciones</p>
      <ErrorMessage name="accept" />

      <Button type="submit" text="Crear" :style="{ 'background-color': '#46d783' }" />
    </Form>
  </div>
</template>

<script setup>
import { CAlert } from '@coreui/vue'
import Button from '@/components/Button.vue'
import { Form, Field, ErrorMessage } from 'vee-validate'
import * as yup from 'yup'
import { ref } from 'vue'
import { useRouter } from 'vue-router'
import Repository from '@/repositories/Repository.class'

const router = useRouter()

const bgColor = ref()
const alertMsg = ref()

const responsible = ref({
  id: null,
  email_verified_at: null,
  observations: null,
  isDeleted: false,
  accept: 'off'
})
const isVisible = ref(false)

const submit = async () => {
  console.log(responsible.value)
  responsible.value.accept = true
  try {
    const repository = new Repository('users')
    const response = await repository.add(responsible.value)
    console.log(response)

    if (response.error) {
      console.log(response)
      bgColor.value = { 'background-color': '#FBDDDD' }
      alertMsg.value = response.details.email.toString()
      isVisible.value = true
      setTimeout(() => {
        isVisible.value = false
      }, 10000)
      return
    }
    
    responsible.value = {
      id: null,
      email_verified_at: null,
      observations: null,
      isDeleted: false,
      accept: 'off'
    }

    bgColor.value = { 'background-color': '#D4F1DF' }
    alertMsg.value = response.message
    isVisible.value = true
    setTimeout(() => {
      isVisible.value = false
    }, 10000)

    goTo('login')

  } catch (error) {
    console.log(error)
    bgColor.value = { 'background-color': '#FBDDDD' }
    alertMsg.value = error
    isVisible.value = true
    setTimeout(() => {
      isVisible.value = false
    }, 10000)
  }
}

const schema = yup.object({
  email: yup.string().required('Campo obligatorio').email(),
  password: yup
    .string()
    .matches(
      /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/,
      'Debe tener al menos 8 caracteres, una letra, un número y un carácter especial'
    )
    .required('Campo obligatorio'),
  address: yup.string().required('Campo obligatorio'),
  accept: yup.boolean().typeError('Debe aceptar los términos para continuar')
})

const goTo = (name) => {
  router.push({ name: name })
}
</script>

<style scoped lang="sass">
.alert
    position: fixed
    right: 1%

div
    text-align: center

input[type='checkbox']
    margin: 0 auto

label
    margin-top: 3%

label, button, span,input[type='checkbox']
    display: block

input[type='text'],input[type='email'],input[type='password']
    text-align: center
    padding: 0.6% 1.5% 0.6% 1.5%
    width: 30em

textarea
    resize: none
    padding: 1%

select
    padding: 0.6% 1.5% 0.6% 1.5%
    text-align: center

span
    color: red
    margin-bottom: 1%

@media (max-width: 768px)
    textarea
        width: 90%

@media (max-width: 510px)
    textarea
        width: 90%
    input[type='text'],input[type='email'], input[type='password'],input[type='checkbox']
        width: 90%
    button
        font-size: 17px
        padding: 7px 20px 7px 20px
</style>
